.weather {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 40%;
}

.weather td, .weather th {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
}

.weather th {
    background-color: #4CAF50;
    color: white;
}